In [1]:
# Import Dependencies
import numpy as np
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Float
from sqlalchemy.orm import Session
import mysql_conn
import datetime

In [2]:
#Read all the fuel economy data for smartway vehicles 
#year: 2016,2017,2018
fuel_2016_path = 'Resources/SmartWay Vehicle List for MY 2016.xlsx'
fuel_2017_path = 'Resources/SmartWay Vehicle List for MY 2017.xlsx'
fuel_2018_path = 'Resources/SmartWay Vehicle List for MY 2018.xlsx'

all_fuel_2016_df = pd.read_excel(fuel_2016_path)
all_fuel_2017_df = pd.read_excel(fuel_2017_path)
all_fuel_2018_df = pd.read_excel(fuel_2018_path)

In [3]:
#check the dataset
all_fuel_2016_df.head()

,Model,Displ,Cyl,Trans,Drive,Fuel,Sales Area,Stnd,Stnd Description,Underhood ID,Veh Class,Smog Rating,City MPG,Hwy MPG,Cmb MPG,Greenhouse Gas Score,SmartWay
0,ACURA ILX,2.4,4.0,AutoMan-8,2WD,Gasoline,CA,L3ULEV125,California LEV-III ULEV125,GHNXV02.4XH3,small car,6,25,36,29,7,Yes
1,ACURA RLX,3.5,6.0,AutoMan-7,4WD,Gasoline,FA,B3,Federal Tier 2 Bin 3,GHNXV03.5PK3,midsize car,7,28,32,30,7,Yes
2,ACURA RLX,3.5,6.0,AutoMan-7,4WD,Gasoline,CA,L3SULEV30,California LEV-III SULEV30,GHNXV03.5PK3,midsize car,8,28,32,30,7,Yes
3,ACURA TLX,2.4,4.0,AMS-8,2WD,Gasoline,CA,U2,California LEV-II ULEV,GHNXJ02.41A3,small car,6,24,35,28,7,Yes
4,AUDI A3 Cabriolet,1.8,4.0,AMS-6,2WD,Gasoline,FA,B2,Federal Tier 2 Bin 2,GVGAV02.0APA,small car,9,24,35,28,7,Yes

In [4]:
def manage_df(all_fuel_df,year):
            
    select_df = all_fuel_df.drop(
        ['Displ', 'Cyl', 'Trans', 'Drive', 'Sales Area', 'Stnd', 'Stnd Description', 'Underhood ID'], axis=1)
    fuel_df = select_df.rename(columns={
                                     'Model': 'model', 'Veh Class': 'vehicle_class',
                                     'Fuel': 'fuel_type', 'Smog Rating': 'smog_rating', 'City MPG': 'city_mpg'
                                    , 'Hwy MPG': 'hwy_mpg','Cmb MPG': 'cmb_mpg', 
                                    'Greenhouse Gas Score':'Greenhouse_gas_score',
                                    'SmartWay':'smartway'}, index=str)
    fuel_df['year'] = year
    return fuel_df

In [5]:
fuel_2016_df = manage_df(all_fuel_2016_df,2016)
fuel_2017_df = manage_df(all_fuel_2017_df,2017)
fuel_2018_df = manage_df(all_fuel_2018_df,2018)

In [6]:
#Check the datatype of all the columns
fuel_2016_df.dtypes

model                   object
fuel_type               object
vehicle_class           object
smog_rating              int64
city_mpg                object
hwy_mpg                 object
cmb_mpg                 object
Greenhouse_gas_score     int64
smartway                object
year                     int64
dtype: object

In [7]:
fuel_2016_df.head()

,model,fuel_type,vehicle_class,smog_rating,city_mpg,hwy_mpg,cmb_mpg,Greenhouse_gas_score,smartway,year
0,ACURA ILX,Gasoline,small car,6,25,36,29,7,Yes,2016
1,ACURA RLX,Gasoline,midsize car,7,28,32,30,7,Yes,2016
2,ACURA RLX,Gasoline,midsize car,8,28,32,30,7,Yes,2016
3,ACURA TLX,Gasoline,small car,6,24,35,28,7,Yes,2016
4,AUDI A3 Cabriolet,Gasoline,small car,9,24,35,28,7,Yes,2016

model VARCHAR(50),
vehicle_class VARCHAR(50),
fuel_type VARCHAR(50),
smog_rating  INT,
city_mpg   INT,
hwy_mpg   INT,
cmb_mpg  INT,
Greenhouse_gas_score  INT,
smartway  VARCHAR(50)

In [8]:
#function: to covert the two nos from string to interger and calculate the average 
def average(number1, number2):
    return (int(number1) + int(number2)) / 2.0

In [9]:
#Function: Conver the mpg values to float and if it is hybrid car the take the average of gasoline and electric
def convert_mpg(mpg_value):
    mpg_list = []

    for i in range (len(mpg_value)):
        if '/' in (mpg_value[i]):
            mpg = mpg_value[i].split('/')
            avr_mpg = average(mpg[0],mpg[1])
            mpg_list.append(avr_mpg)
        else:
            mpg_row = float(mpg_value[i])
            mpg_list.append(mpg_row)
    return mpg_list

In [10]:
#Call convert_mpg function for all mpg columns of all 3 years
city_2016_list = convert_mpg(fuel_2016_df['city_mpg'])
hwy_2016_list = convert_mpg(fuel_2016_df['hwy_mpg'])
cmb_2016_list = convert_mpg(fuel_2016_df['cmb_mpg'])

city_2017_list = convert_mpg(fuel_2017_df['city_mpg'])
hwy_2017_list = convert_mpg(fuel_2017_df['hwy_mpg'])
cmb_2017_list = convert_mpg(fuel_2017_df['cmb_mpg'])

city_2018_list = convert_mpg(fuel_2018_df['city_mpg'])
hwy_2018_list = convert_mpg(fuel_2018_df['hwy_mpg'])
cmb_2018_list = convert_mpg(fuel_2018_df['cmb_mpg'])

In [11]:
def replace_all_mpg_col(fuel_mpg_df,city_mpg_list,hwy_mpg_list,cmb_mpg_list):
    # Drop that column
    select_mpg_df = fuel_mpg_df.drop(
        ['city_mpg', 'hwy_mpg', 'cmb_mpg'], axis=1)

    # Put all 3 series  in its place
    select_mpg_df['city_mpg'] = city_mpg_list
    select_mpg_df['hwy_mpg'] = hwy_mpg_list
    select_mpg_df['cmb_mpg'] = cmb_mpg_list
    
    #redesing the columns position 

    new_mpg_df = select_mpg_df[['year','model','fuel_type','vehicle_class','smog_rating','city_mpg','hwy_mpg',
             'cmb_mpg','Greenhouse_gas_score','smartway']]
    return new_mpg_df

In [12]:
new_city_mpg_2016_df = replace_all_mpg_col(fuel_2016_df,city_2016_list,hwy_2016_list,cmb_2016_list)
new_city_mpg_2016_df.head()

,year,model,fuel_type,vehicle_class,smog_rating,city_mpg,hwy_mpg,cmb_mpg,Greenhouse_gas_score,smartway
0,2016,ACURA ILX,Gasoline,small car,6,25.0,36.0,29.0,7,Yes
1,2016,ACURA RLX,Gasoline,midsize car,7,28.0,32.0,30.0,7,Yes
2,2016,ACURA RLX,Gasoline,midsize car,8,28.0,32.0,30.0,7,Yes
3,2016,ACURA TLX,Gasoline,small car,6,24.0,35.0,28.0,7,Yes
4,2016,AUDI A3 Cabriolet,Gasoline,small car,9,24.0,35.0,28.0,7,Yes

In [13]:
new_city_mpg_2017_df = replace_all_mpg_col(fuel_2017_df,city_2017_list,hwy_2017_list,cmb_2017_list)
new_city_mpg_2017_df.head()

,year,model,fuel_type,vehicle_class,smog_rating,city_mpg,hwy_mpg,cmb_mpg,Greenhouse_gas_score,smartway
0,2017,ACURA ILX,Gasoline,small car,6,25.0,35.0,29.0,7,Yes
1,2017,ACURA ILX,Gasoline,small car,6,25.0,35.0,29.0,7,Yes
2,2017,ACURA RLX,Gasoline,midsize car,8,29.0,30.0,29.0,7,Yes
3,2017,ACURA RLX,Gasoline,midsize car,8,29.0,30.0,29.0,7,Yes
4,2017,AUDI A3,Gasoline,small car,8,26.0,35.0,29.0,7,Yes

In [14]:
new_city_mpg_2018_df = replace_all_mpg_col(fuel_2018_df,city_2018_list,hwy_2018_list,cmb_2018_list)
new_city_mpg_2018_df.head()

,year,model,fuel_type,vehicle_class,smog_rating,city_mpg,hwy_mpg,cmb_mpg,Greenhouse_gas_score,smartway
0,2018,AUDI A3 e-tron,Gasoline/Electricity,small car,7,57.5,62.5,59.5,10,Elite
1,2018,AUDI A3 e-tron,Gasoline/Electricity,small car,7,57.5,62.5,59.5,10,Elite
2,2018,AUDI A4 Ultra,Gasoline,small car,3,27.0,37.0,31.0,7,Yes
3,2018,AUDI A4 Ultra,Gasoline,small car,3,27.0,37.0,31.0,7,Yes
4,2018,BMW 328d,Diesel,small car,3,31.0,43.0,36.0,7,Yes

In [15]:
final_mpg_df = pd.concat([new_city_mpg_2016_df, new_city_mpg_2017_df,
                          new_city_mpg_2018_df], axis=0).reset_index(drop=True)
final_mpg_df.index.name = 'id'

In [16]:
final_mpg_df.head()

,year,model,fuel_type,vehicle_class,smog_rating,city_mpg,hwy_mpg,cmb_mpg,Greenhouse_gas_score,smartway
id,,,,,,,,,,
0,2016,ACURA ILX,Gasoline,small car,6,25.0,36.0,29.0,7,Yes
1,2016,ACURA RLX,Gasoline,midsize car,7,28.0,32.0,30.0,7,Yes
2,2016,ACURA RLX,Gasoline,midsize car,8,28.0,32.0,30.0,7,Yes
3,2016,ACURA TLX,Gasoline,small car,6,24.0,35.0,28.0,7,Yes
4,2016,AUDI A3 Cabriolet,Gasoline,small car,9,24.0,35.0,28.0,7,Yes

In [17]:
final_mpg_df.tail()

,year,model,fuel_type,vehicle_class,smog_rating,city_mpg,hwy_mpg,cmb_mpg,Greenhouse_gas_score,smartway
id,,,,,,,,,,
1423,2018,VOLVO S90,Gasoline/Electricity,midsize car,7,48.0,52.5,50.0,10,Elite
1424,2018,VOLVO XC 60,Gasoline/Electricity,small SUV,7,43.0,43.0,42.5,10,Elite
1425,2018,VOLVO XC 60,Gasoline/Electricity,small SUV,7,43.0,43.0,42.5,10,Elite
1426,2018,VOLVO XC 90,Gasoline/Electricity,standard SUV,7,44.5,45.5,44.5,10,Elite
1427,2018,VOLVO XC 90,Gasoline/Electricity,standard SUV,7,44.5,45.5,44.5,10,Elite

In [42]:
print(len(new_city_mpg_2016_df))
print(len(new_city_mpg_2017_df))
print(len(new_city_mpg_2018_df))
print(len(final_mpg_df))
file_name = 'Resources/final_mpg.csv'
final_mpg_df.to_csv(file_name)

526
490
412
1428

### Create database connection

In [33]:
# Create Engine and Pass in MySQL Connection
connection_string = (
    f"root:{mysql_conn.password}@localhost/fuel_economy_db")
engine = create_engine(f'mysql://{connection_string}')

In [34]:
# Confirm tables
engine.table_names()

['Fuel']

In [35]:
pd.read_sql_query('select * from Fuel', con=engine).head()

Empty DataFrame
Columns: [id, year, model, vehicle_class, fuel_type, smog_rating, city_mpg, hwy_mpg, cmb_mpg, Greenhouse_gas_score, smartway]
Index: []

### Load DataFrames into database

In [36]:
Base = declarative_base()
session = Session(bind=engine)

In [37]:
# Object relational mapping for our table
# ----------------------------------
class Fuel(Base):
    __tablename__ = 'fuel'
    id = Column(Integer, primary_key=True)
    year = Column(Integer)
    model = Column(String(255))
    vehicle_class = Column(String(255))
    fuel_type = Column(String(255))
    smog_rating = Column(Integer)
    city_mpg  = Column(Float)
    hwy_mpg  = Column(Float)
    cmb_mpg = Column(Float)
    Greenhouse_gas_score = Column(Integer)
    smartway = Column(String(255))

In [38]:
c = 0
maxRows = 10000
start_time = datetime.datetime.now()
for index, row in final_mpg_df.iterrows():
    record = Fuel()
    record.year = row['year']
    record.model = row['model']
    record.fuel_type = row['fuel_type']
    record.vehicle_class = row['vehicle_class']
    record.smog_rating = row['smog_rating']
    record.city_mpg = row['city_mpg']
    record.hwy_mpg = row['hwy_mpg']
    record.cmb_mpg = row['cmb_mpg']
    record.Greenhouse_gas_score = row['Greenhouse_gas_score']
    record.smartway = row['smartway']
    
    session.add(record)
    session.commit()
    c = c + 1
    if c >= maxRows: break

end_time = datetime.datetime.now()
print(end_time - start_time)

0:00:02.446648

In [39]:
#pd.read_sql_query('select * from Fuel', con=engine)

,id,year,model,vehicle_class,fuel_type,smog_rating,city_mpg,hwy_mpg,cmb_mpg,Greenhouse_gas_score,smartway
0,1,2016,ACURA ILX,small car,Gasoline,6,25,36,29,7,Yes
1,2,2016,ACURA RLX,midsize car,Gasoline,7,28,32,30,7,Yes
2,3,2016,ACURA RLX,midsize car,Gasoline,8,28,32,30,7,Yes
3,4,2016,ACURA TLX,small car,Gasoline,6,24,35,28,7,Yes
4,5,2016,AUDI A3 Cabriolet,small car,Gasoline,9,24,35,28,7,Yes
5,6,2016,AUDI A3 Cabriolet,small car,Gasoline,9,24,35,28,7,Yes
6,7,2016,AUDI A3 e-tron,small car,Gasoline/Electricity,9,57,62,59,10,Elite
7,8,2016,AUDI A3 e-tron,small car,Gasoline/Electricity,8,57,62,59,10,Yes
8,9,2016,AUDI A3 e-tron ultra,small car,Gasoline/Electricity,9,62,64,62,10,Elite
9,10,2016,AUDI A3 e-tron ultra,small car,Gasoline/Electricity,8,62,64,62,10,Yes
10,11,2016,AUDI A6,midsize car,Gasoline,6,24,35,28,7,Yes
11,12,2016,AUDI A6,midsize car,Gasoline,6,24,35,28,7,Yes
12,13,2016,BMW 320i,small car,Gasoline,6,23,36,28,7,Yes
13,14,2016,BMW 320i,small car,Gasoline,6,24,36,28,7,Yes
14,15,2016,BMW 328d,small car,Diesel,6,32,42,36,7,Yes
15,16,2016,BMW 328d,small car,Diesel,6,30,40,34,7,Yes
16,17,2016,BMW 328d Sports Wagon,station wagon,Diesel,6,30,40,34,7,Yes
17,18,2016,BMW 330e,small car,Gasoline/Electricity,6,48,57,52,10,Yes
18,19,2016,BMW 330e,small car,Gasoline/Electricity,6,48,57,52,10,Yes
19,20,2016,BMW X5 xDrive40e,standard SUV,Gasoline/Electricity,5,39,41,40,8,Yes
20,21,2016,BMW X5 xDrive40e,standard SUV,Gasoline/Electricity,6,39,41,40,8,Yes
21,22,2016,BMW i3 BEV,small car,Electricity,10,137,111,124,10,Elite
22,23,2016,BMW i3 BEV,small car,Electricity,10,137,111,124,10,Elite
23,24,2016,BMW i3 REx,small car,Gasoline/Electricity,5,84,72,78,10,Yes
24,25,2016,BMW i3 REx,small car,Gasoline/Electricity,8,84,72,78,10,Yes
25,26,2016,BMW i8,small car,Gasoline/Electricity,5,54,50,52,9,Yes
26,27,2016,BMW i8,small car,Gasoline/Electricity,6,54,50,52,9,Yes
27,28,2016,BUICK Encore,small SUV,Gasoline,6,28,34,30,7,Yes
28,29,2016,BUICK Encore,small SUV,Gasoline,6,28,34,30,7,Yes
29,30,2016,BUICK Encore,small SUV,Gasoline,6,25,33,28,7,Yes
...,...,...,...,...,...,...,...,...,...,...,...
1398,1399,2018,TOYOTA Prius,midsize car,Gasoline,7,54,50,52,10,Elite
1399,1400,2018,TOYOTA Prius,midsize car,Gasoline,7,54,50,52,10,Elite
1400,1401,2018,TOYOTA Prius,midsize car,Gasoline,7,54,50,52,10,Elite
1401,1402,2018,TOYOTA Prius Eco,midsize car,Gasoline,7,58,53,56,10,Elite
1402,1403,2018,TOYOTA Prius Eco,midsize car,Gasoline,7,58,53,56,10,Elite
1403,1404,2018,TOYOTA Prius Prime,midsize car,Gasoline/Electricity,7,100,87,94,10,Elite
1404,1405,2018,TOYOTA Prius Prime,midsize car,Gasoline/Electricity,7,100,87,94,10,Elite
1405,1406,2018,TOYOTA Prius c,small car,Gasoline,7,48,43,46,10,Elite
1406,1407,2018,TOYOTA Prius c,small car,Gasoline,7,48,43,46,10,Elite
1407,1408,2018,TOYOTA RAV4 Hybrid,small SUV,Gasoline,7,34,30,32,7,Yes
1408,1409,2018,TOYOTA RAV4 Hybrid,small SUV,Gasoline,7,34,30,32,7,Yes
1409,1410,2018,TOYOTA Yaris,small car,Gasoline,3,30,35,32,7,Yes
1410,1411,2018,TOYOTA Yaris,small car,Gasoline,3,30,35,32,7,Yes
1411,1412,2018,TOYOTA Yaris,small car,Gasoline,3,30,36,33,8,Yes
1412,1413,2018,TOYOTA Yaris,small car,Gasoline,3,30,36,33,8,Yes
1413,1414,2018,TOYOTA Yaris iA,small car,Gasoline,3,30,39,34,8,Yes
1414,1415,2018,TOYOTA Yaris iA,small car,Gasoline,3,30,39,34,8,Yes
1415,1416,2018,TOYOTA Yaris iA,small car,Gasoline,3,32,40,35,8,Yes
1416,1417,2018,TOYOTA Yaris iA,small car,Gasoline,3,32,40,35,8,Yes
1417,1418,2018,VOLKSWAGEN Jetta,small car,Gasoline,3,28,40,33,8,Yes
1418,1419,2018,VOLKSWAGEN Jetta,small car,Gasoline,3,28,40,33,8,Yes
1419,1420,2018,VOLKSWAGEN Jetta,small car,Gasoline,5,28,38,32,7,Yes
1420,1421,2018,VOLKSWAGEN Jetta,small car,Gasoline,5,28,38,32,7,Yes
1421,1422,2018,VOLKSWAGEN e-Golf,small car,Electricity,10,126,111,119,10,Elite
1422,1423,2018,VOLVO S90,midsize car,Gasoline/Electricity,7,48,52,50,10,Elite
1423,1424,2018,VOLVO S90,midsize car,Gasoline/Electricity,7,48,52,50,10,Elite
1424,1425,2018,VOLVO XC 60,small SUV,Gasoline/Electricity,7,43,43,42,10,Elite
1425,1426,2018,VOLVO XC 60,small SUV,Gasoline/Electricity,7,43,43,42,10,Elite
1426,1427,2018,VOLVO XC 90,standard SUV,Gasoline/Electricity,7,44,46,44,10,Elite
1427,1428,2018,VOLVO XC 90,standard SUV,Gasoline/Electricity,7,44,46,44,10,Elite

In [ ]:

password = 'Minucar123456'

# AWS connection setup. Declare username and endpoint piece.
user = 'minalCarData'
endpoint = 'cardb.ci3ptaygzvuw.us-east-2.rds.amazonaws.com'
args = f'ssl_ca= database/config/rds-ca-2015-us-east-2-root.pem'

# AWS username and password.
rds_connection_string = f"{user}:{password}@{endpoint}/fuel_economy_db?{args}"
print(rds_connection_string)

In [ ]:
engine = create_engine(f'mysql://{rds_connection_string}')

conn = engine.connect()
session = Session(engine)
print("connected to AWS")


# Relect the existing database into a new model.

Base = automap_base()

# Reflect the table.

Base.prepare(engine, reflect=True)

# Save a reference to the ranks table as "Ranks".

Ranks = Base.classes.ranks